
header,main,footer{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    border: 1px solid black;
    height: 50px;
}
.about{
    height: 200px;
}

/* slider */

.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.slider{
    position: relative;
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
}
.slider .slick-arrow.slick-prev{
left: 0;
}
.slider .slick-arrow.slick-next{
    right: 0;
}

.images{
    width: 480px;
    height: 480px;
}
/* slider */

.slider{
    /* display: flex; */
    /* height: 500px;
    border: 1px solid black; */
}
/* .works{
    display: block;
    border: 1px solid black;
    height: 300px;
    width: 300px;
} */
.footer{
    border: 1px solid black;
    height: 50px;
}